
/*Home Page*/
body{
  background-color: snow;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px #888}

*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;}


html{
   font-size: 10px;
   font-family: "Roboto Cn" , sans-serif;}

/*Navigation Bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  margin-left: 93;
  margin-right:93;
  margin-top: 10;
  padding: 5;
  overflow: hidden;
  background-color: #333;}
/*Navigation Bar list item*/
nav li {
  float: left;}

nav li a {
  display: block;
  color: white;
  text-align:center;
  padding: 14px 10px;
  text-decoration: none;
  margin-left: 100;
  font-size:10;}

 nav li:hover{
  background-color: #ddd;
  color: black;}

/*Best Selling Collection text*/
h3{
  text-align: center;
  font-size: 25px;
  padding-top: 30px;}

/*Navigation Picture, Picture Gallery*/
.column{
  float: left;
  width: 33,33%;
  padding-left:40px;}

.row{
  content:"";
  clear:both;
  display:table;
  margin-left: 180px;
  padding-top: 15;}

/*Daily Deal*/
.boxed {
  border: 4px double  black;
  margin-top: 50px;
  margin-left: 160;
  margin-right: 205px}

h4{
  font-size: 45px;
  margin-left: 5px;}

p3{
  font-size: 30px;
  margin-left: 5px;}

input{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: black;
  border: 0px double black;}

.input:hover{
  background-color: white;
  color: black;}
/*Gallery Images*/
.gallery{
  margin:20px 120px}

.gallery img{
  transition: 1s;
  padding: 5px;
  width:300px;}

.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);}


.photo img{
  transition: 1s;
  width:300px;}

.photo img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);}

/* FOOTER */
.footer {
  position: relative;
  left: 0;
  bottom:0;
  width: 100%;
  background-color: transparent;
  color:white;
  text-align: center;
  height: 50%;
  margin-top: 0;
  display: flex;}

.footer .section-info, .footer .contact, .footer .social{
  flex:1;
  border: 0px solid white;
  padding:25px;}

.footer p{
  font-size: 25px;
  color: black;
  text-align: center;}

/*Footer usefull links*/
.footer .section-info ul{
 list-style-type: none;
  margin: 0;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  overflow: hidden;}

.footer .section-info li{
  font-size: 25px;
  text-align: left;
  margin-top: 30;
  margin-left: 125;}

/*Footer Information Company*/
.footer .contact ul{
  list-style-type:none;
  margin: 0;
  margin-right: 165;
  padding: 5;}

.footer .contact li{
  font-size: 25;
  text-align: right;
  margin-top: 30;
  color: black;}

/*Footer Designer Name/Company*/
.footer .footer-bottom{
  background: #343a40;
  color: #686868;
  height:50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom:0px;
  left: 0px;
  padding-top: 15px;
  font-size: 20;}
/*Footer Social-Media*/
.footer .social p2{
  font-size: 20;
  color: black;
  margin-top: 20}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-top: 10;
}

.fa:hover {
    opacity: 0.7;
}
/*Facebook*/
.fa-facebook {
  background: #3B5998;
  color: white;}

/*Twitter*/
.fa-twitter {
  background: #55ACEE;
  color: white;}

/*Google*/
.fa-google {
  background: #dd4b39;
  color: white;}

/*youtube*/
.fa-youtube {
  background: #bb0000;
  color: white;}

/*instagram*/
.fa-instagram {
  background: #125688;
  color: white;}

p1{
  font-size: 25px;
  text-align: center;}

/*Shoes Gallery*/
.shoes-gallery{
  text-align: right;}

/*Shoes Gallery Animation*/
.shoes-gallery img{
  transition: 1s;
  width:300px;}

.shoes-gallery img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);}

.info h1{
  text-align: left;
  margin-left: 135;
  margin-top: 50;
  font-size: 50;}

.info p{
  font-size: 15;
  margin-left: 135;
margin-top: 15;}
/*Shipping text*/
.shipping p{
  font-size: 15;
  text-align: left;
  margin-left: 135;
  margin-top: 15;}
/*Return Policy text*/
.return p{
  font-size: 15;
  text-align: left;
  margin-left: 135;
  margin-top: 15;}
/*Carrer text*/
.career p {
  font-size: 15;
  text-align: left;
  margin-left: 135;
  margin-top: 15;}

.return h1{
  text-align: left;
  margin-left: 135;
  margin-top: 50;
  font-size: 50;}

.career h1{
  text-align: left;
  margin-left: 135;
  margin-top: 50;
  font-size: 50;}

.shipping h1{
  text-align: left;
  margin-left: 135;
  margin-top: 50;
  font-size: 50;}

.container{
  position: relative;
  top:0%;
  left: 85%;
  transform: translate(-50%, -50%);
  text-align: center;}
/*Button Login/Registration*/
.button{
  background: #ffff;
  padding: 10px 15px;
  color: #34495e;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;}

.button:hover{
  background: #34495e;
  color:#fff;}
/*Popup Login*/
.popup{
  background: rgba(0, 0 ,0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;}

.popup-content{
  height: 250px;
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

input{
  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
  background: white;}

/*User Login Image*/
.popup img{
  width: 50px;
  margin-left: 30px;}
/*Exit Login/Registration*/
.close{
  position: absolute;
  top: -15px;
  right: -15px;
  background: #fff;
  width: 20px;
  border-radius: 60%;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);}
/*Popup Registration*/
.popup2{
  background: rgba(0, 0 ,0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;}

.popup-content2{
  height: 400px;
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;}

/*User Registration Image*/
.popup2 img{
  width: 50px;
  margin-left: 30px;}

/*END*/
